<div [ngStyle]="{backgroundColor:'var()'}">
    <div class="flex justify-between items-center px-4 py-2">
        <!-- Menu Button -->
        <button class="inline-flex items-center justify-center p-2 rounded-md  focus:outline-none"
            (click)="clickMenu()">
            <i class="pi pi-bars" style="font-size: 1.5rem;"></i>
        </button>

        <!-- App Title -->
        <span class="text-xl font-semibold">ANGULAR OPEN APP</span>

        <!-- User Account Icon -->
        <div class="flex items-center">
            <p-inputSwitch [(ngModel)]="darkMode" class="flex mr-5" (onChange)="toggleDarkMode()" />
            <!-- Placeholder for user account image or icon -->
            <i class="pi pi-user" style="font-size: 1.5rem; "></i>
        </div>
    </div>
</div>

<p-sidebar #sidebarRef [(visible)]="sidebarVisible">
    <ng-template pTemplate="headless">
        <div class="m-2 flex flex-column h-full">
            <div class="items-center flex-row h-[7rem]">
                <img alt="logo" class="m-auto h-[100%] w-auto" src="opn-logo.png">
            </div>
            <div class="overflow-y-auto">
                <ul class="list-none p-0 m-0 overflow-hidden">
                    <li *ngFor="let menu of menuItems; let i = index">
                        <a pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
                            leaveActiveClass="slideup"
                            class="flex items-center cursor-pointer p-3 rounded-md text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            (click)="navigate(menu.routerLink)">
                            <i class="mr-2 {{ menu.icon }}"></i>
                            <span class="font-medium">{{ menu.label }}</span>
                            <i *ngIf="menu.subMenus.length > 0" class="pi pi-chevron-down ml-auto"></i>
                        </a>
                        <ul class="py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                            <li *ngFor="let subMenu of menu.subMenus">
                                <a pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
                                    leaveActiveClass="slideup"
                                    class="flex items-center cursor-pointer p-3 rounded-md text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                                    (click)="navigate(subMenu.routerLink)">
                                    <i class="mr-2 {{ subMenu.icon }}"></i>
                                    <span class="font-medium">
                                        {{ subMenu.label }}</span>
                                    <i *ngIf="subMenu.subMenus.length > 0" class="pi pi-chevron-down ml-auto"></i>
                                </a>
                                <ul
                                    class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                                    <li *ngFor="let subSubMenu of subMenu.subMenus">
                                        <a pRipple
                                            class="flex items-center cursor-pointer p-3 rounded-md text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                                            (click)="navigate(subSubMenu.routerLink)">
                                            <i class="mr-2 {{ subSubMenu.icon }}"></i>
                                            <span class="font-medium">
                                                {{ subSubMenu.label }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="mt-auto ml-1 mb-2">
                <span class="font-bold">ver. 1.0.0</span>
            </div>
        </div>
    </ng-template>
</p-sidebar>
