<div [ngStyle]="{backgroundColor:'var()'}">
    <div class="flex justify-between items-center px-4 py-2">
        <!-- Menu Button -->
        <button class="inline-flex items-center justify-center p-2 rounded-md  focus:outline-none"
            (click)="clickMenu()">
            <i class="pi pi-bars" style="font-size: 1.5rem;"></i>
        </button>

        <!-- App Title -->
        <span class="text-xl font-semibold">ANGULAR OPEN APP</span>

        <!-- User Account Icon -->
        <div class="flex items-center">
            <p-inputSwitch [(ngModel)]="darkMode" class="flex mr-5" (onChange)="toggleDarkMode()" />
            <!-- Placeholder for user account image or icon -->
            <i class="pi pi-user" style="font-size: 1.5rem; "></i>
        </div>
    </div>
</div>
<!-- <p-sidebar [(visible)]="sidebarVisible">
    <h3>Sidebar</h3>
    <p>
        sidebar content
    </p>
</p-sidebar> -->

<p-sidebar #sidebarRef [(visible)]="sidebarVisible">
    <ng-template pTemplate="header">
        <div class="flex align-items-center justify-center  w-4/5">
            <!-- <img alt="logo" src="" style="width: 150px;"> -->
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="overflow-y-auto">
            <ul class="list-none p-0 m-0 overflow-hidden">
                <li *ngFor="let menu of menuItems; let i = index">
                    <a pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                        leaveToClass="hidden" leaveActiveClass="slideup"
                        class="flex align-items-center cursor-pointer p-3 border-round text-700 menu-item transition-duration-150 transition-colors p-ripple" (click)="navigate(menu.routerLink)">
                        <i class="{{ menu.icon }}"></i>
                        <span class="font-medium">{{ menu.label }}</span>
                        <i *ngIf="menu.subMenus.length > 0" class="pi pi-chevron-down ml-auto"></i>
                    </a>
                    <ul
                        class="py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                        <li *ngFor="let subMenu of menu.subMenus">
                            <a pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                                leaveToClass="hidden" leaveActiveClass="slideup"
                                class="flex align-items-center cursor-pointer p-3 border-round text-700 menu-item transition-duration-150 transition-colors p-ripple" (click)="navigate(subMenu.routerLink)">
                                <i class="{{ subMenu.icon }}"></i>
                                <span class="font-medium">
                                    {{ subMenu.label }}</span>
                                <i *ngIf="subMenu.subMenus.length > 0" class="pi pi-chevron-down ml-auto"></i>
                            </a>
                            <ul
                                class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                                <li *ngFor="let subSubMenu of subMenu.subMenus">
                                    <a pRipple
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 transition-duration-150 transition-colors p-ripple"(click)="navigate(subSubMenu.routerLink)">
                                        <i class="{{ subSubMenu.icon }}"></i>
                                        <span class="font-medium">
                                            {{ subSubMenu.label }}</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="mt-auto">
            <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
            <span class="font-bold">ver. 1.0.0</span>
        </div>
    </ng-template>
</p-sidebar>
