<div
class="fixed z-10 bg-surface-0 dark:bg-surface-950 rounded-lg shadow-xl left-1/2 transform -translate-x-1/2"
style="width: 98%"
>
<div class="flex justify-between items-center px-6 py-2">
    <!-- Menu Button -->
    <div
      class="inline-flex items-center cursor-pointer p-2 rounded-full"
      (click)="clickMenu()"
    >
      <i class="pi pi-bars text-2xl"></i>
    </div>

    <!-- App Title -->
    <span class="text-2xl font-semibold ml-auto mr-auto cursor-pointer" (click)="navigate('home')">ANGULAR OPEN APP</span>

    <!-- User Account Icon -->
    <div class="flex items-center">
      <p-button
        [icon]="darkModeIcon"
        class="flex mr-4"
        size="large"
        [rounded]="true"
        [text]="true"
        (onClick)="toggleDarkMode()"
      />
      <!-- Placeholder for user account image or icon -->
      <i class="pi pi-user text-xl"></i>
    </div>
  </div>
</div>

<p-drawer #sidebarRef [(visible)]="sidebarVisible">
  <ng-template pTemplate="headless">
    <div class="m-2 flex flex-col h-full">
        <div class="flex items-center h-28">
        <img alt="logo" class="m-auto h-full w-auto" src="opn-logo.png" />
      </div>
      <div class="overflow-y-auto">
        <ul class="list-none p-0 m-0 overflow-hidden">
          <li *ngFor="let menu of menuItems; let i = index">
            <a
            pRipple
            pStyleClass="@next"
            enterFromClass="hidden"
            enterActiveClass="animate-slidedown"
            leaveToClass="hidden"
            leaveActiveClass="animate-slideup"
            class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors"
              (click)="navigate(menu.routerLink)"
            >
              <i class="mr-2 {{ menu.icon }}"></i>
              <span class="font-medium">{{ menu.label }}</span>
              <i
                *ngIf="menu.subMenus.length > 0"
                class="pi pi-chevron-down ml-auto"
              ></i>
            </a>
            <ul
              class="list-none py-0 pl-6 pr-0 m-0 hidden overflow-y-hidden duration-3000 animate-ease-in-out"
            >
              <li *ngFor="let subMenu of menu.subMenus">
                <a
                pRipple
                pStyleClass="@next"
                enterFromClass="hidden"
                enterActiveClass="animate-slidedown"
                leaveToClass="hidden"
                leaveActiveClass="animate-slideup"
                class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors"
                  (click)="navigate(subMenu.routerLink)"
                >
                  <i class="mr-2 {{ subMenu.icon }}"></i>
                  <span class="font-medium"> {{ subMenu.label }}</span>
                  <i
                    *ngIf="subMenu.subMenus.length > 0"
                    class="pi pi-chevron-down ml-auto"
                  ></i>
                </a>
                <ul
                  class="list-none py-0 pl-6 pr-0 m-0 hidden overflow-y-hidden transition-all duration-400 ease-in-out"
                >
                  <li *ngFor="let subSubMenu of subMenu.subMenus">
                    <a
                      pRipple
                      class="flex items-center cursor-pointer p-4 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors"
                      (click)="navigate(subSubMenu.routerLink)"
                    >
                      <i class="mr-2 {{ subSubMenu.icon }}"></i>
                      <span class="font-medium"> {{ subSubMenu.label }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="mt-auto ml-1 mb-2">
        <span class="font-bold">ver. 1.0.0</span>
      </div>
    </div>
  </ng-template>
</p-drawer>
